[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cryptography = "~=36.0"
dj-rest-auth = "~=2.2"
django-allauth = "~=0.47"
django-cors-headers = "~=3.11"
minio = "~=7.1"
psycopg2-binary = "~=2.9"
six = "~=1.16"
tzdata = "~=2021.5"
"ufile.io" = "~=1.0"

[dev-packages]

[requires]
python_version = "3.8"
